---
import Layout from '../layouts/Layout.astro';
import { person, home } from '../resources/content.js'
import Button from '../components/Button.astro';
import Avatar from '../components/Avatar.astro';
import Block from '../layouts/Block.astro';
---

<Layout title="Welcome to Astro.">
	<main class="">
		<Block>
			<h1 class="text-6xl font-black mb-2 mt-[20vh]">{ home.headline }</h1>
			<h2 class="text-2xl font-bold mb-2 max-w-[600px]">{ home.subline }</h2>
			<Button>
				<Avatar src={person.avatar} />
				About Me
			</Button>
		</Block>
	</main>
</Layout>
